<footer style="background-color: #270949 !important;">
    <div class="container pt-4 ">
        <div class="row ">
            <div class="col-sm-12 col-md-3">

                <img src="assets/img/logo-white.png" class="text-white" style="max-height: 4rem;" />
                <p>
                    PMC gadgets is a reliable and efficient online store that delivers electrical gadgets like TVs, desk top computers, laptops, cellphones accessories across Zimbabwe and other parts of the world. Based in the UK, our distribution centre is based in Zimbabwe
                    for a fast and world class service to your doorstep.
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="nav justify-content-center flex-column">
                    <li class="nav-item">
                        <a class=" active" href="https://www.pmcgadgets.com/elm-contact-us/">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="https://www.pmcgadgets.com/elm-contact-us/">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class=" " href="https://www.pmcgadgets.com/order-tracking/">Order Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class=" " href="https://www.pmcgadgets.com/refund_returns/">Returns and Refunds Policy</a>
                    </li>
                </ul>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <form action="/#wpcf7-f210-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init" data-hs-cf-bound="true">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for=""></label>
                                    <input type="text" name="" id="" class="form-control rounded-0" placeholder="" aria-describedby="helpId">
                                    <button class="btn btn-primary btn-small rounded-0 ml-1">Subscribe</button>
                                </div>
                            </form>
                        </form>
                    </div>
                    <div class="col-6">

                        <ul class="nav justify-content-center flex-column">
                            <li class="nav-item">
                                <a class=" active" href="https://www.pmcgadgets.com/elm-contact-us/">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="" href="https://www.pmcgadgets.com/elm-contact-us/">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class=" " href="https://www.pmcgadgets.com/order-tracking/">Shopping Cart</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">

                        <ul class="nav justify-content-center flex-column">
                            <li class="nav-item">
                                <a class=" active" href="https://www.pmcgadgets.com/elm-contact-us/">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="" href="https://www.pmcgadgets.com/elm-contact-us/">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class=" " href="https://www.pmcgadgets.com/order-tracking/">Shopping Cart</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>

</footer>