<auth-navbar></auth-navbar>

<div class="jumbotron bg-white rounded-0 mb-0 ">
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-md-8 mx-auto text-center">
                <h1 style="margin-top: 60px;" class="mb-2 font-weight-bold text-dark display-2">
                    Your Gateway to Payments in Zimbabwe
                </h1>
                <p class="mb-4 text-dark display-4 font-weight-normal">
                    Join the payments platform built for businesses and customers
                </p>
                <button routerLink="/login" class="btn btn-primary font-weight-bold">
          Get Started
        </button>
            </div>
        </div>
        <img src="assets/img/landing.jpg" alt="" srcset="">
    </div>
</div>

<section class="bg-white">
    <div class="container text-muted">
        <div class="row align-items-center">
            <div class="col-md-6 mx-auto">
                <h2 class="display-3 text-dark">
                    A comprehensive dashboard
                </h2>
                <p class="text-muted">
                    We feature a comprehensive dashboard that not only let you buy products but lets you manage the beneficiaries of your products
                </p>
                <button class="btn btn-link text-uppercase" routerLink="/login">try it now</button>
            </div>
            <div class="col-md-6 mx-auto">
                <img src="assets/img/landing.jpg" style="min-height: 50vh;" alt="">
            </div>
        </div>
    </div>
</section>
<app-products>

</app-products>
<app-auth-footer></app-auth-footer>