<div class="logo">
    <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="assets/img/logo.png" style="min-height: 1.2rem; min-width: 4rem;" />
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">

    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="tim-icons  {{ menuItem.icon }}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
    </ul>
</div>
