<section class="container my-4">

    <div class="row">

        <div class="col-12">

            <h3>
                Here are some of our products
            </h3>
        </div>

        <div id="wrapper" class="col-sm-12 col-md-10 mx-auto">
            <div id="carousel">
                <div id="content" class=" pt-4">
                    <div class="col-md-2 pt-4" *ngFor="let package of packages" style="min-width:250px">
                        <span class="card-price">
                            {{ package.quantity | currency }}
                        </span>

                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-0 pb-0">
                                    {{ package.network }}
                                </h4>
                                <h5>
                                    {{ package.bundle_name }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
            <button id="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
        </div>
    </div>
</section>