<div class=" content">


    <div class=" row">
        <div class="col-lg-12">
            <h4>
                Welcome, {{ currentUser.first_name }} {{ currentUser.last_name }}
            </h4>
        </div>

        <div class="col-lg-12 border-bottom">

            <app-pre-products>

            </app-pre-products>
        </div>

        <div class="col-lg-12 border-bottom">

            <app-pre-products-telone>

            </app-pre-products-telone>
        </div>

    </div>
    <div class="row">

    </div>
</div>